{% extends('SiteBundle:Common:base.html.twig') %}
{% block body %}
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>city</td>
                <td>longitude</td>
                <td>latitude</td>
                <td>temperature</td>
                <td>cloudy</td>
                <td>wind</td>
                <td>description</td>
                <td>duration</td>
                <td>create date</td>
            </tr>
        </thead>
        <tbody>
            {% for item in lastItems %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.longitude }}</td>
                <td>{{ item.lattitude }}</td>
                <td>{{ item.temperature }}</td>
                <td>{{ item.cloudy }}</td>
                <td>{{ item.wind }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.searchDuration }}</td>
                <td>{{ item.createDate|date('Y-M-d') }}</td>
            </tr>            
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10">
                    ------------------------------------------------
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    Najwyższa temperatura: {{ high_temp }}
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    Najniższa temperatura: {{ low_temp }}
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    Średnia temperatura: {{ avg_temp }}
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    Liczba zapytań: {{ count }}
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    Najwięcej zapytań w: {{ citySum.city }} ( {{ citySum.cityCount }} )
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
