{% extends('SiteBundle:Common:base.html.twig') %}
{% block stylesheets %}
    <link rel="stylesheet" href="/dist/css/web.css" />
{% endblock %}

{% block body %}
    <div id="map"></div>
{% endblock %}

{% block javascripts %}
    <script src="/dist/js/web.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBqPjKXu2jrB2AFEAkUQOQNLn9k5wpO6w&callback=initMap"
    async defer></script>
{% endblock %}