<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome on weather map!{% endblock %}</title>
        {% include('SiteBundle:Common:common-css.html.twig') %}
        {% block stylesheets %}
            <link rel="stylesheet" href="/dist/web.css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include('SiteBundle:Common:common-js.html.twig') %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
